.navbar {
  height: 55px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  // color: #555;
  color: #ffffffe7;

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;

    .search{
        display: flex;
        align-items: center;
        // border: 0.5px solid lightgray;
        padding: 3px;
        height: 70px;
        width: 70px;
    }

    input{
        border: none;
        outline: none;
        background: transparent;

        &::placeholder{
            font-size: 12px;
        }
    }
    .items {
      display: flex;
      align-items: center;
      .item1{
        display: flex;
        align-items: center;
        margin: 20px;
        position: relative;
        padding: 10px;
        border-radius: 7px;
        font-weight: 300;
        font-size: 15px;
      }
      .item{
        display: flex;
        align-items: center;
        margin: 20px;
        position: relative;
        padding: 10px;
        border-radius: 7px;
        font-weight: 300;
        font-size: 15px;

        &:hover{
          background-color: #424242;
        }
        
        a{
          color: #fff;

          &:hover{
            color: #89AAE6;
          }
        }

        .icon{
            font-size: 20px;
            cursor: pointer;
        }

        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .counter{
            width: 15px;
            height: 15px;
            background-color: rgb(217, 1, 1);
            border-radius: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-weight: bold;
            position: absolute;
            top: -5px;
            right: -5px;
        }

        
      }
    }
  }
}
